@using System.Web.Mvc.Razor;
<div id="prefooter">
    <div style="float:left;margin-left:20px;">
        <table>
            <tr>
                <td>
                    <ul>
                        <li class="footer-list-header">
                            Help:
                        </li>
                        <li><a href="#">Neque porro quisquam est</a></li>
                        <li><a href="#">ipsum quia dolor sit amet</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li class="footer-list-header">
                            About:
                        </li>
                        <li><a href="#">Neque porro quisquam est</a></li>
                        <li><a href="#">ipsum quia dolor sit amet</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li class="footer-list-header">
                            Social:
                        </li>
                        <li><a href="#">Neque porro quisquam est</a></li>
                        <li><a href="#">ipsum quia dolor sit amet</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div style="float:right;margin-top: 60px; margin-right: 10px;">
        <a href="@Url.Content("~/")">
            <img alt="Webstore" src="~/Content/Images/shopping_cart.jpg" border="0" />
        </a>
    </div>
</div>
<div id="footer"></div>
